$text-color-light: #fff;
$color-blue-leght: #06aeee;
$color-blue-dark: #0021dd;
$color-green: #01e820;
$color-orange: #FF7901;
$color-black: #000;

@mixin main-text {
  font-family: "Exo", sans-serif;
  font-size: 22px;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
  font-weight: 400;
}

@mixin big-title {
  font-family: "Exo", sans-serif;
  font-size: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin subtitle {
  font-family: "Baloo 2", sans-serif;
  font-size: 24px;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: $text-color-light;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.3s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
button {
  cursor: pointer;
  text-decoration: none;

}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 128px;
  background-color: $color-blue-leght;
  border-bottom: 6px solid $color-green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 0px 40px;
}

.logo {
  display: block;
}

.logo-img {
  width: 102px;

}

.capitan-gif {
  margin-right: -10px;
}

.capitan-gif-right {
  transform: scaleX(-1); // отразить по вертикали
  margin-left: -11px;
  margin-bottom: 9px;
}

.capitan-gif-road {
  margin-left: -40px;
  margin-bottom: 4px;
}

.twitter-icon {
  padding: 8px;

  &:hover {
    cursor: pointer;
    transform: scale(1.06);
  }
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

  0% {
    transform: rotate(0deg);
  }
}

.telegram-icon {
  width: 32px;

  &:hover {
    animation-name: rotation;
    animation-duration: 0.6s;
    animation-timing-function: linear;
  }
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;

}

.nav-link {
  @include main-text;
  font-size: 24px;
  font-weight: 700;
  color: $text-color-light;
  padding: 6px;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    color: $color-black;
  }
}

.hidden {
  display: block;
}

.btn-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.btn-header {
  @include main-text;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  max-height: 65px;
  background-color: $color-black;
  border: 4px solid $color-green;
  padding: 12px 36px;
  color: $text-color-light;

  &:hover {
    cursor: pointer;
    background-color: $color-blue-dark;
    transform: scale(1.06);
  }
}

.banner {
  height: 90vh;
  //   background: url("images/water.png");
  //   background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 220, 235, 0.27), rgb(56 87 199 / 36%))
}

.banner video {
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  bottom: -100%;
  top: -100%;
  left: -100%;
  object-fit: cover;
  z-index: -100;
}

.overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.heading {
  @include big-title;
  color: $text-color-light;
}

.subheading {
  @include subtitle;
  text-transform: uppercase;
  text-align: center;
  line-height: 28px;
  padding: 0 20px;
}

.heading-h1 {
  padding: 0 20px;
  text-align: center;
}

.text-shadow {
  text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

.banner-btn {
  @include subtitle;
  max-width: 250px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-black;
  background-color: $color-green;
  border-radius: 10px;
  box-shadow: -2px 2px 16px rgba(0, 0, 0, 0.6);

  &:hover {
    cursor: pointer;
    transform: scale(1.06);
  }
}

.about {
  max-width: 2000px;
  margin: 0 auto;
  padding: 60px 40px;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.section-left {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.heading-about {
  @include big-title;
  font-size: 48px;
  color: $color-black;
  line-height: 3.25rem;
}

.text {
  @include main-text;
}

.capitan-gif__about {
  display: inline-block;
  margin-left: -30px;
  margin-bottom: -30px;
}

.about-img {
  max-width: 700px;
}

.text li {
  margin-left: 34px;
}

.nft {
  min-height: 800px; //
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px 60px;
  background: $color-green;
}

.container {
  width: 1000px;
  height: 760px;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 1000px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider_card {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 0 50px;
}

.capitans-img {
  max-width: 900px;
  //   padding: 0 90px;
}

.ships-img {
  max-width: 900px;
}

.islands-img {
  max-width: 900px;
}

.btns-block {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin-top: 32px;
  position: absolute;
  bottom: 10px;
  left: 39%;
}

.btn-arrow {
  width: 52px;
  height: 52px;
  background: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }
}


.roadmap {
  min-height: 800px;
  background: $color-blue-dark;
}

.roadmap-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 60px 40px;
}

.flex_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.list-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;
}

.card-item {
  width: 240px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 18px;
  border-radius: 10px;
  background: #3753f3;
  padding: 18px 14px;
  position: relative;
}

.accept-icon {
  position: absolute;
  width: 52px;
  top: 6px;
  right: 14px;
}

.continue-icon {
  position: absolute;
  width: 68px;
  top: 10px;
  right: 14px;
}

.card-heading {
  @include main-text;
  font-size: 28px;
  color: $color-green;
  font-weight: 800;
}

.card-text {
  @include subtitle;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4rem;
  color: rgb(234, 239, 245);
}

.info {
  min-height: 800px;
  background: $color-orange;
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 42px;
  padding: 60px 40px;
  color: $color-black;
}


.details-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.details-card {
  max-width: 800px;
  background: #FF9333;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  border-radius: 10px;
  cursor: pointer;
}

.details-heading {
  @include subtitle;
  list-style: none;
  position: relative;
  padding-right: 50px;
}

details summary::-webkit-details-marker {
  display: none;
}

.details-heading:after {
  content: "+";
  color: $text-color-light;
  // color: $color-black;
  position: absolute;
  font-size: 42px;
  line-height: 0;
  top: 50%;
  right: 8px;
  font-weight: 600;
  transform-origin: center;
  transition: 200ms linear;
}

.details-card[open] .details-heading:after {
  transform: rotate(45deg);
  font-size: 42px;
}

.details-card[open] .details-heading~* {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.details-text {
  @include main-text;
  color: $text-color-light;
  // color: $color-black;
  text-transform: none;
  padding: 20px 0 0;
}



.footer {
  min-height: 260px;
  background: $color-black;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 40px;
}


.footer-content__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 52px
}

.contacts-block__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;

  &:hover {
    cursor: pointer;
  }

  &:hover .contact-icon {
    cursor: pointer;
    transform: scale(1.25);
  }
}

.contact-name {
  @include main-text;
  font-size: 20px;
  font-weight: 400;
  color: rgb(234, 239, 245);
  display: block;
}

.contact-icon {
  width: 42px;
  transition: 0.3s;
}

.footer-content__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.copy-text {
  @include main-text;
  font-size: 16px;
  text-align: center;
  color: rgb(234, 239, 245);
}

.copy-heart:hover {
  animation-name: rotation;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}



@media (max-width : 1360px) {

  .about-wrapper {
    flex-wrap: wrap;
  }

  .section-left {
    max-width: 1230px;
  }
}


@media (max-width : 1080px) {

  .container {
    width: 700px;
  }

  .slider {
    width: 700px;
  }

  .slider_card {
    width: 600px;
  }

  .capitans-img,
  .ships-img,
  .islands-img {
    max-width: 600px;
  }
}

@media (max-width : 1024px) {
  .btn-game {
    display: none;
  }

  .heading {
    font-size: 42px;
    line-height: 48px;
  }

  .heading-about {
    line-height: 20px;
  }
}

@media (max-width : 930px) {

  .hidden {
    display: none;
  }

  .banner-btn {
    font-size: 20px;
  }

}


@media (max-width : 847px) {

  .list-items {
    justify-content: center;
  }

}

@media (max-width : 810px) {

  .about-img {
    max-width: 500px;
  }

  .container {
    width: 600px;
  }

  .slider {
    width: 600px;
  }

  .slider_card {
    width: 500px;
  }

  .capitans-img,
  .ships-img,
  .islands-img {
    max-width: 500px;
  }

  .btn-arrow {
    width: 42px;
    height: 42px;
  }

}

@media (max-width : 670px) {

  .nft {
    padding: 60px 40px;
  }

  .btn-arrow {
    display: none;
  }

  .heading {
    font-size: 36px;
    line-height: 42px;
  }

  .subheading {
    font-size: 22px;
  }

  .container {
    height: 1600px;
    max-width: 650px;
  }

  .slider {
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap: 42px;
    top: 50px;
    margin: 0 auto;
  }

  .slider_card {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

}

@media (max-width : 590px) {

  .nft {
    padding: 20px 20px 40px;
  }

  .capitan-gif__about {
    display: none;
  }

  .text {
    font-size: 18px;
    line-height: 26px;
  }

  .about-img {
    max-width: 400px;
  }

  .container {
    height: 1300px;
  }

  .capitans-img,
  .ships-img,
  .islands-img {
    max-width: 400px;
  }

  .card-item {
    width: 100%;
    height: 100%;
  }

  .card-heading {
    font-size: 24px;
  }

  .details-heading {
    font-size: 20px;
    line-height: 24px;
  }

  .details-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-content {
    padding: 40px 20px;
  }

  .contact-name {
    font-size: 18px;
  }

  .copy-text {
    font-size: 18px;
  }

}

@media (max-width : 495px) {

  .header {
    height: 110px;
  }

  .header-wrapper {
    padding: 0 20px;
    gap: 14px;
  }

  .logo-img {
    width: 78px;
  }

  .nav-link {
    font-size: 22px;
  }

  .about {
    padding: 40px 20px;
  }

  .roadmap-block {
    padding: 40px;
  }

  .info-block {
    padding: 40px;
  }

  .about-img {
    max-width: 320px;
  }

  .capitans-img,
  .ships-img,
  .islands-img {
    max-width: 320px;
  }
}

@media (max-width : 320px) {

  .header-wrapper {
    padding: 0 10px;
  }

  .nav-link {
    font-size: 20px;
  }

  .about-img {
    max-width: 280px;
  }

  .nft {
    padding: 20px 10px 20px;
  }

  .capitans-img,
  .ships-img,
  .islands-img {
    max-width: 280px;
  }
}